<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Total Balance</title>
    
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        /* Custom CSS for fixing nav colors */
        #sidebar {
            background-color: #343a40; /* Change the background color to a darker shade */
            color: white; /* Set text color to white */
        }
    
        #sidebar .nav-link {
            color: white; /* Set the link text color to white */
        }
    
        #sidebar .nav-link.active {
            background-color: #007bff; /* Set the active link background color */
        }
    </style>
    

</head>
<body>
    <div class="container">
        <div class="row">
            <!-- Sidebar -->
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-primary sidebar">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item" data-page="reports">
                            <a class="nav-link" href="#" data-toggle="collapse" data-target="#reports-menu">
                                <i class="fas fa-chart-line"></i> Reports
                            </a>
                            <div id="reports-menu" class="submenu">
                                <a class="nav-link" href="?page=total-balance">
                                    <i class="fas fa-balance-scale"></i> Balance Inquiry
                                </a>
                                <a class="nav-link" href="?page=general-ledger">
                                    <i class="fas fa-file-invoice-dollar"></i> General Ledger
                                </a>
                                <a class="nav-link" href="?page=income-statement">
                                    <i class="fas fa-file-alt"></i> Income Statement
                                </a>
                                <a class="nav-link" href="?page=balance-sheet">
                                    <i class="fas fa-balance-scale"></i> Balance Sheet
                                </a>
                                <a class="nav-link" href="?page=cash-flow">
                                    <i class="fas fa-coins"></i> Cash Flow Statement
                                </a>
                           
                                
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            



            <!-- Main content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div id="page-content">
                    <!-- Shared content for both pages -->
                    <h1>The Total Balance</h1>
                    
                </div>
                <div id="page-content-general-ledger" style="display: none;">
                    <!-- Shared content for both pages -->
                    <h1>General Ledger</h1>    
                </div>
                <div class="form-group" id="start_date_container">
                    <label for="start_date">Start Date:</label>
                    <input type="date" class="form-control" id="start_date">
                </div>
                <div class="form-group" id="end_date_container">
                    <label for="end_date">End Date:</label>
                    <input type="date" class="form-control" id="end_date">
                </div>
                <div class="form-group" id="account_select_container">
                    <label for="selected_account_id">Select Account:</label>
                    <select class="form-control" id="selected_account_id" name="selected_account_id">
                        <option value="">-- Select Account --</option>
                        {% for account in account_data %}
                            <option value="{{ account.id }}">{{ account.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                        
                
                 <div class="button-group">                        
                    
                         <button id="getBalanceSumButton" class="btn btn-primary">Get Balance Sum</button>

                         <button id="getLedgerButton" class="btn btn-primary">Get Ledger Rebort</button>
     
                         <!-- <button type="button" id="clearFormButton" class="btn btn-secondary ml-2">Clear</button> -->
                         <button type="button" id="clearFormButton" class="btn btn-secondary ml-2">Clear</button>

                         {% if user.is_authenticated %}
                         <form method="post" action="{% url 'logout' %}" class="d-inline">
                               {% csrf_token %}
                             <button type="submit" class="btn btn-danger ml-2">Logout</button>
                         </form>
                              {% endif %}

                        
                              <!-- Add a div element with Bootstrap styles to display the response data -->
                         <div id="response" class="mt-4"></div>
     
                             <!-- Add a div element to display the total_balance -->
                         <div id="total_balance" class="mt-4"></div>

                       
     
                             <!-- Add a div element for the "No data available" message -->
                         <!-- <div id="noDataMessage" class="alert alert-warning">No balances found.</div> -->
                    </form>     
                    </div>
            </main>
        </div>
    </div>

    <!-- Include jQuery and Bootstrap JavaScript from allowed sources -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script>
        
        $(document).ready(function() {
            // Parse the URL to determine the desired page
            const urlParams = new URLSearchParams(window.location.search);
            const pageParam = urlParams.get('page');
            
            // Load the specific page's content into the container
            if (pageParam === 'general-ledger') {
                $('#page-content').hide();
                $('#account_select_container').show();
                $('#getLedgerButton').show();
                $('#getBalanceSumButton').hide();
                
                

            } else {
                $('#page-content').show();
                $('#account_select_container').show();
                $('#start_date_container').hide();
                $('#getLedgerButton').hide();
                $('#getBalanceSumButton').show();
            }

            $.ajax({
    url: '/api/get-account-ids/',  // URL for the get_account_ids view
    type: 'GET',
    success: function (data) {
        // Clear existing options
        $('#selected_account_id').empty();

        // Add an empty default option
        $('#selected_account_id').append('<option value="">-- Select Account --</option>');

        // Add each account as an option in the select field
        $.each(data.account_data, function (index, account) {
            $('#selected_account_id').append('<option value="' + account.id + '">' + account.name + '</option>');
        });
    },
    error: function (error) {
        console.error('Error:', error);
    }
});
$('#getBalanceSumButton').click(function () {// Retrieve start_date, end_date, and selected_account_id values from the input fields
    var end_date = $('#end_date').val();
    var selected_account_id = $('#selected_account_id').val();

    

    // Check if "end_date" is required
    if (end_date === '') {
        // Display the "End Date is required" message in red
        $('#response').html('<span style="color: red;">End date is required.</span>');

        // Clear the total_balance value
        $('#total_balance').empty();
        return; // Exit the function, preventing further processing
    }

    
    if (selected_account_id === '') {
        // Display the "End Date is required" message in red
        $('#response').html('<span style="color: red;">Selected account is required.</span>');

        // Clear the total_balance value
        $('#total_balance').empty();
        return; // Exit the function, preventing further processing
    }



    // Make an AJAX request to initiate GetBalanceSumView with dynamic dates and selected_account_id

  
    $.ajax({
        url: '/api/get-balance-sum/',  // URL for the GetBalanceSumView
        type: 'GET',
        data: {
            // start_date: start_date,
            end_date: end_date,
            selected_account_id: selected_account_id  // Include selected_account_id in the request
        },
        success: function (data) {
            // Clear existing content
            $('#response').empty();
            

            if (data.response.length > 0) {
                var accountName = data.response[0].name;
                // Create a Bootstrap table to display the response data
                var tableHtml = '<table class="table">';
                tableHtml += '<thead><tr><th>Balance</th><th>Date</th></tr></thead><tbody>';
                    $.each(data.response, function (index, item) {
                          tableHtml += '<tr>';
                          tableHtml += '<td>' + item.balance + '</td>';
                          tableHtml += '<td>' + item.date + '</td>';
                          tableHtml += '</tr>';
        });
                tableHtml += '</tbody></table>';
                $('#response').html(tableHtml);

                // Display the total_balance value
                // $('#total_balance').text('Total Balance: ' + data.total_balance.toFixed(2));
            } else {
                // Handle the case when the response is empty
                $('#response').text('No data available.');

                // Clear the total_balance value
                // $('#total_balance').empty();
            }
       
        },
                error: function (error) {
                    // Handle any errors (if needed)
                    console.error('Error:', error);
                }
            });
        });
$('#getLedgerButton').click(function () {// Retrieve start_date, end_date, and selected_account_id values from the input fields
    var start_date = $('#start_date').val();
    var end_date = $('#end_date').val();
    var selected_account_id = $('#selected_account_id').val();

    
    if (start_date === '') {
        // Display the "End Date is required" message in red
        $('#response').html('<span style="color: red;">Start date is required.</span>');

        // Clear the total_balance value
        $('#total_balance').empty();
        return; // Exit the function, preventing further processing
    }

    // Check if "end_date" is required
    if (end_date === '') {
        // Display the "End Date is required" message in red
        $('#response').html('<span style="color: red;">End date is required.</span>');

        // Clear the total_balance value
        $('#total_balance').empty();
        return; // Exit the function, preventing further processing
    }

    
    if (selected_account_id === '') {
        // Display the "End Date is required" message in red
        $('#response').html('<span style="color: red;">Selected account is required.</span>');

        // Clear the total_balance value
        $('#total_balance').empty();
        return; // Exit the function, preventing further processing
    }



    // Make an AJAX request to initiate GetBalanceSumView with dynamic dates and selected_account_id

  
    $.ajax({
        url: '/api/get-ledger-sum/',  // URL for the GetBalanceSumView
        type: 'GET',
        data: {
            start_date: start_date,
            end_date: end_date,
            selected_account_id: selected_account_id  // Include selected_account_id in the request
        },
        success: function (data) {
            // Clear existing content
            $('#response').empty();

            if (data.response.length > 0) {
                // Create a Bootstrap table to display the response data
                var tableHtml = '<table class="table">';
                tableHtml += '<thead><tr><th>Root ID</th><th>Debit</th><th>Credit</th><th>Date</th><th>Analytic Account Name</th><th>Analytic Item Amount</th><th>Partner Name</th><th>Partner Type</th></tr></thead><tbody>';
                $.each(data.response, function (index, item) {
                    tableHtml += '<tr>';
                    tableHtml += '<td>' + item.account_root_id + '</td>';
                    tableHtml += '<td>' + item.debit + '</td>';
                    tableHtml += '<td>' + item.credit + '</td>';
                    tableHtml += '<td>' + item.date + '</td>';
                    tableHtml += '<td>' + item.analytic_account_name + '</td>';
                    tableHtml += '<td>' + item.analytic_account_amount + '</td>';
                    tableHtml += '<td>' + item.partner_name + '</td>';
                    tableHtml += '<td>' + item.partner_type + '</td>';

                    // tableHtml += '<td>' + item.anlytic_move_line_id + '</td>';
                    tableHtml += '</tr>';
                });
                tableHtml += '</tbody></table>';
                $('#response').html(tableHtml);

                // Display the total_balance value
                // $('#total_balance').text('Total Balance: ' + data.total_balance.toFixed(2));
            } else {
                // Handle the case when the response is empty
                $('#response').text('No data available.');

                // Clear the total_balance value
                $('#total_balance').empty();
            }
       
        },
        error: function (error) {
            // Handle any errors (if needed)
            console.error('Error:', error);
        }
    });

});

$('#clearFormButton').click(function () {
        // Reset the date fields and the dropdown
        $('#start_date, #end_date, #selected_account_id').val('');

        // Clear any response and total balance messages
        $('#response, #total_balance').empty();
    });

});


            
    </script>
</body>
</html>
